<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AgriculturalTrade"
        tools:targetApi="31">
        <activity
            android:name=".Activities.UpdateMyProductActivity"
            android:exported="false"
            android:parentActivityName=".Activities.MyProductsActivity"/>
        <activity
            android:name=".Activities.MyProductsActivity"
            android:exported="false"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.UpdateAccount"
            android:exported="false"
            android:parentActivityName=".Activities.AccountActivity" />
        <activity
            android:name=".Activities.AccountActivity"
            android:exported="false"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.PaymentActivity"
            android:exported="false"
            android:parentActivityName=".Activities.AddAdressActivity" />
        <activity
            android:name=".Activities.AddAdressActivity"
            android:exported="false"
            android:parentActivityName=".Activities.AddressActivity" />
        <activity
            android:name=".Activities.AddressActivity"
            android:exported="false"
            android:parentActivityName=".Activities.DetailedActivity" />
        <activity
            android:name=".Activities.AddProductActivity"
            android:exported="false"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.CartActivity"
            android:exported="false"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.ShowAllActivity"
            android:exported="false"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.DetailedActivity"
            android:exported="false"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Adapters.SliderAdapter"
            android:exported="true" />
        <activity
            android:name=".Activities.OnBoardingActivity"
            android:exported="true" />
        <activity
            android:name=".Authentication.ForgetPassword"
            android:exported="true"
            android:parentActivityName=".Authentication.Log_in" />
        <activity
            android:name=".Authentication.Log_in"
            android:exported="true" />
        <activity
            android:name=".Authentication.Register"
            android:exported="true"
            android:label="@string/title_activity_register"
            android:parentActivityName=".Authentication.Log_in"
            android:theme="@style/Theme.AgriculturalTrade" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>